$light-blue: #007eb3;
$dark-blue: #0d79cb;
$red: #a63446;
$light-red: #d63d4c;

$black: #040f0f;
$white: #fdfffc;
$green: #00a878;

$grey: #d3d4d9;
$loading-color: #dddfe2;
$loading-background-color: #e9ebee;
